.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 92px 0 0;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
    margin: 90px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__background {
    min-height: 200px;
    margin: 66px 0 0;
  }
}
